.button-container {
    color: #FBFAF6;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: #15151C;
    border: 2px solid #15151C;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    cursor: pointer;
    transition: .3s ease-in-out;

    &.google-button {
        background-color: #5BA8FF;
        border-color: #5BA8FF;

        &:hover, &:focus {
            background-color: hsla(212, 100, 56, 100);
            border-color: hsla(212, 100, 56, 100);
            color: #FBFAF6;
        }

        &:active {
            background-color: hsla(212, 100, 46, 100);
            border-color: hsla(212, 100, 46, 100); 
        }
    }

    &.secondary-button {
        color: #15151C;
        background: inherit;

        &:hover, &:focus {
            background-color: #15151C;
            color: #FBFAF6;
        }

        &:active {
            background-color: #5B5B60;
        }
    }

    &:hover, &:focus {
        color: #15151C;
        background: inherit;
    }

    &:active {
        color:#5B5B60;
        border-color:#5B5B60;
    }

}