.category-wrapper {
    margin: 0 auto;
    max-width: 1300px;
    padding-top: 120px;
    padding-bottom: 40px;

    h2 {
        text-transform: capitalize;
        text-align: center;
    }
}

.category-products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 50px;
}